# ******************************************************************************
#
# fcc-d3-force-directed-graph, fCC D3 Force Directed Graph Project
#
# SPDX-License-Identifier: BSD-3-Clause
#
# Copyright 2021-2022 Jeremy A Gray <gray@flyquackswim.com>.
#
# All rights reserved.
#
# ******************************************************************************

# Emacs.
*~

# Node/npm.
*-debug.log*
*-error.log*
.DS_Store
.env
.env.*
.nyc_output/
.pnp.js
/.pnp
/build
/coverage
/node_modules

# Data.
/data
